
.options {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 0 0.5em 0.5em 0;
    padding: 1em;
    background: #4c4ca0;
    overflow-y: auto;
}

.options_items {
    color: antiquewhite;
}

.options_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options_devider {
    background: white;
}

.date_range {
    margin-top: 0;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.5em;
    width: calc(100% - 0.5em);
}

.news_container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.news_item {
    width: 100%;
    color: antiquewhite;
    margin-bottom: 1em;
    background: #6d69bd;
    padding: 1em;
    border-radius: 0.5em;
}

.news_item .name {
    font-size: 20px;
}

.news_item .photo {
    margin-top: 0.5em;
    width: 90%;
    height: auto;
}
