
.visualization {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em 0 0 0.5em;
    background: #fefefe;
}
