.App {
    margin: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    display: grid;
    grid-template-columns: 65% 35%;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5em;
}
